body {
    background-color: #00A36C;
}

.border {
    border: 2px solid white;
    max-width: 200px;
    padding: 10px;
}

a {
    color: indigo;
    font-weight: bold;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 42px;
}