

body {
    background-color: teal;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    height: 50px;
    position: relative;
    background-color: purple;
    color: white;
    font-size: 25px;
}